:root {
    --buttonPrimaryColor: #3d81db;
    --buttonSecondaryColor: #1a202c;
    --bgColor1: #0d121f;
}


* {
    box-sizing: border-box;
    font-family: 'PlusJakartaSans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body, html {
    margin: 0;
    padding: 0;
    background: #0d121f;
    width: 100%;
    color: #e7defe;
    font-weight: 300;
}

body {
    min-height: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

button {
    border: 0;
    color: inherit;
    cursor: pointer;
}

body > * {
    flex-grow: 1;
    flex-shrink: 0;
}

b {
    font-weight: 600;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url(./PlusJakartaSans-VariableFont_wght.ttf);
}

#menuOpenedContainer {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    height: 100px;
    background: var(--bgColor1);
    border-bottom: 1px solid #343843;
    z-index: 50;
    position: sticky;
    top: 0;
}

.navLinks:first-of-type a::after {
    width: 0;
    content: '';
    height: 1px;
    display: block;
    background: white;
    transition: width 0.3s;
}

.navLinks:first-of-type a:hover::after {
    width: 100%;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 16px;
    width: 100%;
}

.brand {
    height: 32px;
}

.navLinks, .navRight {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.navLinks a {
    text-decoration: none;
    color: white;
}

.btnPrimary {
    background: var(--buttonPrimaryColor);
    border-radius: 9999px;
    padding: 16px 24px;
    color: white;
    font-size: 16px;
}

.btnSecondary {
    background: var(--buttonSecondaryColor);
    border-radius: 9999px;
    padding: 18px 22px;
    line-height: 1;
    color: #aebdd2;
    font-size: 16px;
}

.navLinks .download {
    color: #acbcd0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#hero {
    height: 600px;
    max-height: max-content;
    background: var(--bgColor1);
    overflow: hidden;
    position: relative;
}

#hero h1 {
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    background-image: linear-gradient(to bottom, #fcfdfe, #dde6f2 40%, #bfcfe6, #9fb8d9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#hero p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    margin-top: 44px;
    color: #90a3bf;
}

#hero .light {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    height: 1100px;
    width: 1100px;
    z-index: 1;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 30%, transparent 65%);
}

#hero .circle1 {
    width: 870px;
    height: 870px;
    position: absolute;
    border-radius: 99999px;
    top: 0;
    left: calc(50vw + 290px);
    transform: translate(-0%, -50%);
    border: 100px solid #191e2a;
}

#hero .circle2 {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 99999px;
    bottom: 0;
    left: calc(50vw - 600px);
    transform: translate(-93.5%, 52.5%);
    border: 100px solid #191e2a;
}

#hero .genericContainer {
    max-width: 825px;
}

.buttonsContainer {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 40px;
}

#about {
    height: 460px;
    background: url(./assets/laundromat-with-girl-legs.png) no-repeat center/cover white;
    z-index: 1;
}

.genericContainer {
    z-index: 10;
    text-align: center;
}

.SecondaryTitle {
    color: #3d81db;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 19px;
}

.PrimaryTitle {
    font-size: 38px;
    margin: 0;
    margin-top: 8px;
    font-weight: 600;
}

.white {
    color: white;
}

.black {
    color: black;
}

#about p {
    max-width: 785px;
    font-size: 17px;
    line-height: 1.6;
    margin-top: 36px;
}

.TitleDescription {
    color: #90a3bf;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 7px;
}

#how-it-works {
    height: 800px;
}

.howItWorksItems {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    max-width: 1018px;
    width: 100%;
}

.howItWorksItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.howItWorksItem > .illustration {
    width: 200px;
    height: 200px;
    background: #f3f5f7;
    border-radius: 16px;
    position: relative;
    display: flex;
}

.howItWorksItem > .illustration > .hiwContainer {
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    padding-left: 28px;
    background: white;
    margin-top: 16%;
    margin-left: 16%;
    height: calc(100% - 16%);
    width: calc(100% - 16%);
    border-top-left-radius: 12px;
    border-bottom-right-radius: inherit;
    color: black;
    text-align: left;
}

.howItWorksItem > .illustration > .location > p {
    font-size: 80%;
    margin-bottom: 4%;
    font-weight: 500;
}

.howItWorksItem > .illustration > .location > .input {
    padding: 6%;
    font-size: 80%;
    background-color: #f3f5f7;
    border: 0;
    outline: none;
    margin-bottom: 6%;
    border-radius: 4%;
    display: flex;
    gap: 3px;
}

.blinker {
    height: 100%;
    width: 1px;
    background: black;
    opacity: 0;
}

.howItWorksItem > .illustration:hover .blinker {
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.skeletonCard {
    background-color: #f3f5f7;
    flex: 1;
    width: 66.6%;
    border-radius: 4%;
    padding-top: 13%;
    padding-left: 8.9%;
}

.skeletonCard > .title {
    width: 79%;
    background: #e1e7ed;
    height: 12%;
    border-radius: 100rem;
    margin-bottom: 6.4%;
}

.skeletonCard > div {
    background: #e1e7ed;
    height: 6.4%;
    flex-shrink: 0;
    border-radius: 100rem;
}

.skeletonCard > .line {
    width: 42%;
    margin-bottom: 9.6%;
}

.skeletonCard > .line2 {
    width: 72.3%;
}

.fwasher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    text-align: center;
    padding: 0 !important;
    flex: 1;
}

.fwasher p {
    color: var(--buttonPrimaryColor);
    font-weight: 500;
}

.fwasher .num {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.fwasher img {
    width: 55%;
}

.fwasher .btnPrimary {
    padding-top: 4%;
    padding-bottom: 4%;
}

.illustration:hover .hiwContainer.fwasher svg {
    stroke-dasharray: 100;
    animation: animateSvg 10s linear infinite;
}

@keyframes animateSvg {
    from {
        stroke-dashoffset: 0;
    } to {
        stroke-dashoffset: 1000;
    }
}

.illustration:hover > .fwasher:not(.hiwContainer) .drum-anim {
    transform-origin: 50% 54%;
    animation: 2s animateWasherInside infinite linear;
}

@keyframes animateWasherInside {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg)
    }
}

.howItWorksItem > figcaption {
    font-size: 20px;
    width: 80%;
    margin-top: 17px;
    line-height: 1.5;
}

.howItWorksItem .illustration::after {
    content: attr(index);
    position: absolute;
    bottom: 100%;
    right: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    transform: translate(50%, 50%);
    width: 50px;
    height: 50px;
    background: var(--buttonPrimaryColor);
    border: 6px solid #0d121f;
    border-radius: 50%;
}

#how-it-works .buttonsContainer {
    margin-top: 64px;
}

#why-us {
    background: white;
    height: 630px;
}

#why-us .TitleDescription {
    max-width: 700px;
}

.reasonsContainer {
    display: flex;
    gap: 32px;
    margin-top: 64px;
    max-width: 900px;
    width: 100%;
    flex-wrap: wrap;
}

.reasonItem {
    display: flex;
    gap: 32px;
    width: 434px;
    text-align: start;
}

.reasonItem > .illustration > img {
    transition: transform .1s ease-in-out
}

.reasonItem:hover > .illustration > img {
    transform: scale(1.25);
}

.reasonItem .illustration {
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
    background: var(--buttonPrimaryColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    user-select: none;
}

.reasonItem h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 22px
}

.reasonItem p {
    color: #596780;
}


#download {
    justify-content: center;
    align-items: unset;
    gap: 40px;
    height: 570px;
}

.halfContainer {
    display: flex;
    flex-direction: column;
    width: 555px;
    flex-shrink: 0;
    margin: auto 0 auto auto;
}

#download .PrimaryTitle {
    max-width: 250px;
    width: 100%;
}

#download > img {
    flex: 1;
    max-width: 52vw;
    margin-top: 72px;
    border-top-left-radius: 40px;
    border-top: 10px solid #3d414c;
    border-left: 10px solid #3d414c;
    object-fit: cover;
}

#download .buttonsContainer {
    justify-content: flex-start;
}

#download .buttonsContainer img {
    transition: transform .1s ease-in-out;
}

#download .buttonsContainer img:hover {
    transform: scale(1.05);
}

#download .TitleDescription {
    font-size: 19px;
    margin-top: 20px;
}

#locations {
    background: linear-gradient(to bottom, white, #ecf5ff);
    height: 700px;
}

.locationCards {
    margin-top: 60px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 1200px;
}

.locationCard {
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 1;
    padding: 32px;
    text-align: start;
    border-radius: 12px;
    position: relative;
    z-index: 10;
    background: linear-gradient(to bottom, #ffffff, #f2f8ff);
    outline: 1px solid #c3d4e9;
    transition: transform 0.3s ease, outline 0.3s ease;
}

.locationCard:hover {
    transform: translate(0, -8px);
    outline: 2px solid var(--buttonPrimaryColor);
}

.locationCard hr {
    border: 0;
    margin-top: auto;
    border-bottom: 2px solid #e8edf2;
}

.locationCard h4, .locationCard b {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.locationCard p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

#locations .btnPrimary {
    margin-top: 50px;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131825;
}

#footerContainer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerLinks ul {
    list-style: none;
    display: flex;
    gap: 36px;
}

#footerLinks ul li {
    display: flex;
}

#footerLinks ul li a {
    color: #5daaff;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    width: 100%;
}

.vr {
    border-right: 1px solid #263852;
}

#footerContainer > p {
    color: #8092ab;
    font-weight: 400;
}

#menuOpened, #mobileNav {
    display: none;
}

#footerContainer hr {
    display: none;
}

@media screen and (max-width: 900px) {
    /* HERO SECTION RESPONSIVITY. VW IS CALCULATED BY DIVIDING THE SIZES BY 900PX. THIS GIVES THE SITE THE ABILITY (WITH THE POWER OF CSS CLAMP) TO RESIZE DINAMICALLY BY THE SCREEN WIDTH. */

    #hero h1 {
        font-size: clamp(30px,7.8vw,70px);
    }

    #hero p {
        font-size: clamp(14px,2.2vw,20px);
        padding: 4.6vw;
        margin-top: 3.3vw;
    }

    #hero {
        height: auto;
        padding-top: 15vw;
        padding-bottom: 17vw;
    }

    #hero .buttonsContainer {
        margin-top: 2.88vw;
        gap: 1.3vw;
    }

    .btnPrimary, .btnSecondary {
        padding: 2.5vw 4.6vw;
        line-height: 1.5;
        font-size: clamp(13px, 3.6vw, 16px);
    }

    /* ABOUT SECTION RESPONSIVITY */

    #about {
        height: auto;
        padding: 12.9vw 3.4vw;
        padding-bottom: 12.6vw
    }

    #about p {
        font-size: clamp(14px, 2.2vw, 17px);
        margin-top: 4.2vw;
    }

    /* WHY US SECTION RESPONSIVITY */
    #why-us {
        height: auto;
        padding: 14vw 3.4vw;
        padding-bottom: 12.6vw
    }

    #why-us h1 {
        font-size: clamp(32px,3.5vw,38px);
    }

    #why-us .TitleDescription {
        font-size: clamp(16px, 3vw, 20px);
        margin-top: 4.2vw;
    }

    .reasonsContainer {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .reasonItem {
        width: 100%;
        gap: 18px
    }

    /* DOWNLOAD SECTION RESPONSIVITY */
    #download {
        height: auto;
        flex-direction: column;
        padding: 10vw 3.4vw;
        text-align: center;
        padding-bottom: 12.6vw
    }

    #download .PrimaryTitle {
        max-width: none;
        font-size: clamp(32px, 8vw, 38px);
    }

    .halfContainer {
        width: 100%;
        margin: 0;
    }

    #download > img {
        max-width: 100%;
        margin-top: 8.4vw;
        border: 5px solid #3d414c;
        border-radius: 20px;
    }

    #download .buttonsContainer {
        justify-content: center;
    }

    #download .buttonsContainer img {
        height: 10vw;
        width: auto;
    }

    /* LOCATIONS SECTION RESPONSIVITY */
    #locations {
        height: auto;
        padding: 12.9vw 3.4vw;
        padding-bottom: 12.6vw;
    }

    .locationCards {
        width: 100vw;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 24px 4.4vw
    }

    .locationCard {
        width: 75vw;
        flex: 0 0 auto;
        scroll-snap-align: center;
        border-radius: 4px;
        padding: 20px;
        gap: 24px;
    }

    #locations h1 {
        font-size: clamp(32px, 8vw, 38px);
    }
    

    /* FOOTER SECTION RESPONSIVITY */
    footer {
        height: auto;
        padding: 35px 3.4vw;
    }

    #footerContainer {
        flex-direction: column;
        gap: 4.2vw;
        width: auto;
    }

    #footerLinks ul {
        flex-direction: column;
        gap: 2.1vw;
        text-align: center;
    }

    .vr {
        display: none;
    }

    #footerContainer hr {
        display: flex;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #263852;
    }

    /* NAVBAR RESPONSIVITY */
    nav {
        height: 64px;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 64px;
    }

    .navLinks {
        display: none;
    }

    .mobileNavContainer .navLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .mobileNavContainer .navLinks li, .mobileNavContainer .navLinks li a {
        display: block;
        width: 100%;
    }

    .mobileNavContainer .navLinks li a::after {
        content: none;
    }

    .mobileNavContainer .navLinks:last-of-type {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    .mobileNavContainer .navLinks:last-of-type li {
        flex-direction: row-reverse;
        align-items: center;
        width: auto;
    }

    .navMenu {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: transparent;
    }

    .navMenu span {
        width: 23px;
        height: 2px;
        background: white;
    }

    #mobileNav {
        display: flex;
        z-index: 50;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        justify-content: flex-end;
        backdrop-filter: blur(0px);
        background: rgba(0, 0, 0, 0);
        transition: .5s ease;
        animation: none;
    }

    @keyframes mobileNavEnter {
        0% {
            backdrop-filter: blur(0px);
            background: rgba(0, 0, 0, 0);
        }
        100% {
            backdrop-filter: blur(4px);
            background: rgba(0, 0, 0, .75);
        }
    }

    .mobileNavContainer {
        background: #0d121f;
        width: 100%;
        max-width: 323px;
        display: flex;
        flex-direction: column;
        padding: 26px;
        opacity: 0;
        filter: blur(12px);
        transform: translateX(100%) scale(1.2);
        transition: .5s ease;
        animation: none;
    }

    @keyframes mobileNavContainerEnter {
        0% {
            opacity: 0;
            filter: blur(12px);
            transform: translateX(100%) scale(1.2);
        }
        50% {
            opacity: 0;
            filter: blur(12px);
            transform: translateX(100%) scale(1.2);
        }
        100% {
            filter: blur(0);
            opacity: 1;
            transform: translateY(0) translateX(0) scale(1);
        }
    }

    #menuOpenedContainer {
        z-index: 100;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, 0);
        transition: 1s .75s cubic-bezier(.08,.82,.17,1);
    }

    #menuOpenedContainer .open, #menuOpenedContainer .close  {
        transition: 1s .75s cubic-bezier(.08,.82,.17,1);
        object-fit: cover;
    }

    #menuOpenedContainer .open {
        height: 30px;
        width: 30px;
        opacity: 1;
    }

    #menuOpenedContainer .close {
        height: 24px;
        width: 0;
        opacity: 0;
    }

    #menuOpenedContainer:has(input:checked) .open {
        width: 0;
        opacity: 0;
    }

    #menuOpenedContainer:has(input:checked) .close {
        width: 24px;
        opacity: 1;
    }

    #menuOpenedContainer:has(input:checked) {
        transform: translate(-10px, 12px);
    }

    #menuOpenedContainer:has(input:checked) ~ #mobileNav .mobileNavContainer {
        animation: mobileNavContainerEnter 1.5s cubic-bezier(.08,.82,.17,1);
        pointer-events: all;
        opacity: 1;
        filter: blur(0);
        transform: translateY(0) translateX(0) scale(1);
    }

    #menuOpenedContainer:has(input:checked) ~ #mobileNav {
        animation: mobileNavEnter .75s cubic-bezier(.08,.82,.17,1);
        backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, .75);
    }

    .mobileNavContainer .brand {
        margin-right: auto;
    }

    .mobileNavContainer > hr {
        margin: 34px 0;
    }

    .mobileNavContainer .navLinks .btnPrimary {
        padding: 8px 16px;
    }

    #hero .light {
        display: none;
    }
    
    #hero .circle1 {
        display: none;
    }

    #hero .circle2 {
        left: 50vw;
        transform: translate(-50%, 61%);
        width: 165vw;
        height: 165vw
    }
}

@media screen and (max-width: 722px) {
    #how-it-works {
        height: auto;
        padding: 12.9vw 3.4vw;
        padding-bottom: 12.6vw
    }

    #how-it-works .PrimaryTitle {
        font-size: clamp(25px, 8vw, 38px);
    }

    #how-it-works .TitleDescription {
        font-size: clamp(14px, 4vw, 20px);
        margin-top: 4.2vw;
    }

    .howItWorksItems {
        flex-direction: column;
        gap: 13vw;
        margin-top: 17vw;
    }

    .howItWorksItem figcaption {
        max-width: 220px;
    }

    #how-it-works .buttonsContainer {
        margin-top: 4.2vw;
        gap: 3.4vw;
    }
}